[Desktop Entry]
Name=Update Manager
Comment=Automatically check for udates everytime system boots :)
GenericName=Update Manager
Icon=null
Categories=Utility;X-SuSE-DesktopUtility;
Exec=/usr/bin/update-mgr
InitialPreference=1
StartupNotify=false
Terminal=false
Type=Application
X-KDE-PluginInfo-Author=Alexandru Balan
X-KDE-PluginInfo-Email=alex@pearos.xyz
X-KDE-PluginInfo-Version=11.1.0
X-KDE-PluginInfo-Website=https://updates.pearos.xyz
X-KDE-StartupNotify=false
X-KDE-autostart-phase=1
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_kwin_keystate
